#homepage {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.home-header {
    width: 100%;
    height: 200px;
    background-color: white;
}

.homepage-content {
    margin: auto;
    width: 100%;
    height: 3600px;
    background-color: grey;

}

.footer-content {
    width: 100%;
    background-color: black;
    height: 400px;
}

.sticky-navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100;
}

#navbartitle {
    color: white;

}

/*----------------------------------------Display Page--------------------------------------------*/
#display-body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/Images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.display-col {
    float: left;
    width: 50%;
    height: 100%;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.display-row:after {
    content: "";
    display: table;
    clear: both;
}

.display-row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 10px;
}